@import '../../styles/_variables.scss';

.form {
    box-sizing: border-box;
    display: flex;
    gap: 32px;
    width: 100%;
    padding: 0 32px;

    &__text {
        background: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid $primaryColor;
        color: $primaryColor;
        font-size: 24px;
        
        &:focus {
            outline: none;
            border-bottom: 2px solid $primaryColor;

        }
    }
    
    &__send {
        padding: 8px;
        color: $primaryColor;
        
        svg {
            width: 24px;
            height: 24px;
        }

        &:disabled {
            opacity: .5
        }
    }
}